/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*,
*::before,
*::after {
  margin:0;
  padding:0;
  box-sizing:border-box;}
 
  html,body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    line-height: 1.7em;
   
  }
  a {
    color: #333;
    text-decoration: none;

  }
  h1,h2{
    padding-bottom: 20px;
  }
  p{
    margin: 10px 0;
  }
  #nav{
   
    width: 100%;
    position:fixed;
  
 
    z-index:6;
    
    background: rgb(0, 4, 8)
     ;
    color: #fff;
    overflow: auto,hidden;
    
    margin: 0;
    
  }
  
  #nav ul{
    padding: 14px;
    display: inline;
    list-style: none;
    float:right;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #nav ul li{
    float: left;
    font-size: medium;
    position: relative;
    margin-left: 10px;
  }
  #nav ul li a{
  
    padding: 30px 60px;
    text-align: center;
    color: #fff;
    font-family: 'Quicksand',sans-serif;
    font-style: initial;
    margin: 0;
  }
  #nav ul li a:hover{
    background:linear-gradient(to right bottom,
      rgba(0, 4, 8, 0.9),
      rgba(90, 27, 46, 0.7));
      font-family: bold;
      color: #fff;
    
  

  }
  
.header{
  height: 110vh;
  background-image:linear-gradient(
    to right bottom,
    rgba(0, 0, 05, 0.9),
    rgba(200,180,200,0.7)),
    url(../img/frontpage.jpg);
    position:relative;
  background-size: cover;
  background-position: top;
  
}
.logo-box{
  position:absolute;
  top:2rem;
  left: 4rem;
  position: fixed;

}


.logo {
   animation: moveInRight 0.6s ease-in;
}

.logo {
  padding-top: 30px;
  padding-left: 20px;

  height: 3.5rem;
  animation: moveInright 2s ease-out;
}




.text-box{
  position:absolute;
  top:60%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align: center;
}
.heading-primary{
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;


}
.heading-primary-main{
  padding: 4% 5%;
  display:block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing:3.5rem;
  animation: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
.heading-primary-sub{
  display:block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInright 2s ease-in-out;
   margin-bottom: 6rem;

}
@keyframes moveInLeft {
  0%{
    opacity:0;
    transform: translateX(-10rem);
  }
  80%{
    transform: translate(1rem);

  }
  100%{opacity: 1;
    transform: translateX(0px);

  }
}
@keyframes moveInright {
  0%{
    opacity:0;
    transform: translateX(10rem);
  }
  80%{
    transform: translate(-1rem);

  }
  100%{opacity: 1;
    transform: translateX(0px);

  }
}
.btn:link,
.btn:visited{
  text-transform: uppercase;
  text-decoration: none;
  padding:1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
}
.btn:hover{
  transform: translateY(-.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2) ;
}
.btn:active{
  transform: translateY(-.1rem);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
.btn-white{
background-color: #fff;
color: rgba(0, 0, 0, .2);

}

.btn::after{
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   transition: all .4s;
}
.btn-white::after{
  background-color:#fff;  




}
.btn:hover::after{
   
  color: azure;
  transform: scale(1.5);
  opacity: 0;
}

.container-fluid{
border-radius: 10px;
background-size: cover;





}
.container-fluid li{
  margin-top: 30px;
  padding: 25px;
display: contents;
}
.container-fluid li a{
  font-family:'Quicksand', sans-serif;
  font-size: 24px;
  padding:7% 7%;
  color:rgb(233, 233, 241);

}
.container-fluid li a:hover{
  color:rgb(255, 255, 255);
  
 
  

}
#location{
  height: 185vh;
  float: inline-start;
  margin-top: 25px;
 text-align: center;
  background-image: radial-gradient(to right bottom,
    rgba(0, 0, 05, 0.9),
    rgba(200,180,200,0.7)),
    url(../img/frontpage.jpg) COVER;
position: relative;

}
.location-text{
 
  font-size: small;
}
.location-content{
padding:10%;
margin-left: 33%;


padding: 1%;
overflow: hidden;
width: 35%;
text-align: center;

background-image:linear-gradient(to right bottom,
rgba(0, 0, 05, 0.9),
rgba(200, 180, 200, 0.7)),url(../img/gallery_display.jpg);
border-radius:20px;
color: azure;

}
.location-content li{
  list-style:none ;
  padding: 10px;
}
.location-image img{
  padding: 10px;
  width: 30%;
  border-radius: 100%;
  list-style: none;
  text-decoration: none;



}

 #testimonials {
   background-size: cover;
   text-align: center;
  display: block;
   width:100%;
   height:130vh;
  background-image:linear-gradient(to right bottom,
    rgba(0, 0, 05, 0.9),
    rgba(200, 180, 200, 0.7)),url(../img/gallery_display.jpg);
    position: relative;
 
    
    
 }

 .testimonial-text {
   margin-top: 70px;
   padding:20px;
 
   font-size:1.5rem;
   line-height: 1.5;
   color: azure;
   
 }

 .testimonial-image {
   display: inline;
   width: 40%;
   border-radius: 20px;
  padding: 5px;
 }
 .carousel-item,p{
   font-family: sans-serif;
   color:white;
   font-size: 15px;
   padding: 5% 16%;
  
 }
 /*=-footer-=*/
 footer {
   width: 100%;
  color: #fff;
  background-attachment: fixed;
  background-color:#222;
  background-image: url(https://s7.postimg.org/uyf0oioaz/footer-bg.png);
  background-size: cover;
  background-position: bottom;
  position: absolute;
}
footer p {
  color: #ccc;				
}
footer a {
  color: #ccc;				
}
.social-pet li {
  display: inline-block;
  margin-right: 10px;
}
.social-pet li a {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  display: block;
  line-height: 35px;
  background-color: #3a5a95;
  color: #fff;
}
.social-pet li:nth-child(2) a {
  background-color: #57aced;
}
.social-pet li:nth-child(3) a {
  background-color: #dd4f43;
}
.social-pet li:nth-child(4) a {
  background-color: #6b27b2;
}
.social-pet li a:hover {
  background-color: #0141a2;
}
.social-pet li a:hover i {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
.recent-post li {
  display: block;
  color: #ccc;
  margin-bottom: 25px;
}
.recent-post li label {
  float: left;
  border: 2px solid #ccc;
  padding: 1px 7px;
  text-align: center;
}
.recent-post li label span {
  color: #fff;
}
footer .input-group-addon {
  background-color: #0141a2;
  padding: 10px;
}
.f-address li {
  display: inline-block;
}
.f-address li i {
  color: #2995de;
  font-size: 18px;
}
.f-address li a {
  color: #ccc;
}
/*=-Copyright-=*/
.copyright {
  background-color: #111;
  padding: 12px 0;
  font-size:14px;
}




 

.container{
  margin: 10%;
}
#contact-form .form-group {
 
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input, 
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus, 
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

.about{
  background-color: rgba(177, 129, 161, 0.667);
  height: 140vh;
  text-align: center;
  
}
.about-header{
  color: white;
  font-size: 4rem;
  margin: 15%;
  position:absolute;
  text-align: right;
 text-decoration-style: solid;

}
.about-header1{
  margin-top: 25%;
  color: #f7c08a;
  font: outline;
}
.testimonial-paragraph img{
  border: lightcoral;
  padding: 0;
  margin-top: 24%;
  margin-left: 22%;
  margin-bottom: 10%;
  border-radius: 100%;
  width: 14%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  float: left;
  
}
.para{
  margin: 23%;
  color:black;
  position: absolute;
  text-align: justify;
  padding-right: 60px;
  font-size: 18px;
  font-family:  'Kaushan Script', cursive;
}
#event{
height: 120vh;
  padding-top: 160%;
    background-image:url(../img/Capture2.PNG);
}
.pro{
  width: 100%;
  height: 140vh;
  padding-top: 10%;

}